.advantages {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.advantages__text {
    font-weight: 300;
    font-size: 1.71 * $font-size;
    line-height: 2.07 * $font-size;
    width: 280px;
    margin: 0 auto;
    color: $header-color;
}

.advantages__title {
    font-weight: bold;
    font-size: 1.28 * $font-size;
}

.advantages__description {
    width: 240px;
    margin: 0 auto;
    color: $header-color;
}
