.advantages {
  @include flexible (flex, column, center);
}

.advantages__text {
  @include font (300, 24px, 1.2);
  min-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 590px;
    @include font-no-weight (40px, 1.35);
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    font-size: 50px;
  }

  &--desc {
    @media (min-width: $tablet-width) {
      width: 350px;
    }

    @media (min-width: $desktop-width) {
      width: 450px;
    }
  }
}

.advantages__wrapper {
  @media (min-width: $tablet-width) {
    @include flexible (flex, column, left);
    margin: 0 auto;
    align-items: flex-end;
    width: $tablet-wrapper;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    width: $desktop-wrapper;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 255px;
  }
}

.advantages__title {
  @include font(bold, 18px, 1.33);

  @media (min-width: $desktop-width) {
    @include font-no-weight (30px, 1);
  }
}

.advantages__desc {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 320px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 255px;
    @include font-no-weight (18px, 1.67);
  }
}
