.background {

  &--additional {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  width: 100%;
  height: 462px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-size: cover;
      width: 100%;
      height: 440px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-size: cover;
      width: 100%;
      height: 440px;
    }
  }

  &--wrapper {
    @media (min-width: $tablet-width) {
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-size: cover;
      width: 100%;
      height: 729px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-size: cover;
      width: 100%;
      height: 853px;
    }
  }
}

.background__inner {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 620px;
    margin: 0 auto;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.background__main {
  position: relative;

  @media (max-width: $mobile-width) {
    position: relative;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    height: 462px;
    background-size: cover;

    &::after {
      position: absolute;
      top: 175px;
      right: 0px;
      content: " ";
      background-image: url("../img/iphone-hand-mobile@1x.png");
      width: 320px;
      height: 286px;
      background-size: cover;
    }
  }
}

.background__title {
  width: 230px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  color: $additional-color;

  @media (min-width: $tablet-width) {
    margin-left: 65px;
    font-size: 40px;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 1.36;
  }

  &--additional {
    margin: 0 auto;
    line-height: 1.37;

    @media (min-width: $tablet-width) {
      width: 290px;
    }

    @media (min-width: $desktop-width) {
      width: 350px;
    }
  }

  &--form {

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      width: 380px;
    }

    @media (min-width: $desktop-width) {
      width: 800px;
    }
  }
}

.background__download {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $download-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: transparent;
    z-index: 2;
  }
}

.background__button {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  color: $additional-color;
  margin: 0 auto;
}

.background__link {
  color: $main-color;
}

.background__decsription {
  font-weight: 300;
  color: $additional-color;
  width: 250px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.33;
    width: 300px;
  }
}