.background--wrapper {
  @media (min-width: $tablet-width) {
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
    padding-bottom: 113px;
  }

  @media (min-width: $tablet-width) and (min-resolution: 144dpi), (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
  background-image: url("../img/bg-back-tablet@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    @include background (url("../img/bg-back-desktop@1x.jpg"), cover, 100%, 853px);
  }

  @media (min-width: $desktop-width) and (min-resolution: 144dpi),
  (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 2560px auto;
  }
}

.background__additional {
  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: cover;
    width: auto;
    height: 462px;
    background-color: $header-color;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 238px;
  }
}

.background__inner {
  @media (min-width: $tablet-width) {
    display: block;
    align-items: flex-start;
    width: 620px;
    margin: 0 auto;
    padding-top: 111px;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
    padding-top: 0;
  }
}

.background__main {
  position: relative;

  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: cover;
    width: auto;
    height: 462px;
    background-color: $header-color;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }

    &::after {
      position: absolute;
      top: 177px;
      right: 19%;
      content: " ";
      @include background-pseudo (url("../img/iphone-hand-mobile@1x.png"), cover, 258px, 286px);

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
    position: absolute;
    content: " ";
    @include background-pseudo (url("../img/iphone-hand-tablet@1x.png"), cover, 660px, 545px);
    top: 71px;
    right: 0;

      @media (min-width: $tablet-width) and (min-resolution: 144dpi), (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 700px auto;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
    position: absolute;
    content: " ";
    @include background-pseudo (url("../img/iphone-hand-desktop@1x.png"), cover, 1050px, 645px);
    top: 208px;
    left: 2%;

      @media (min-width: $desktop-width) and (min-resolution: 144dpi), (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }
  }
}

.background__title {
  width: 230px;
  margin: 0 auto;
  padding-top: 92px;
  text-align: center;
  @include font (300, 24px, 1.2);
  color: $additional-color;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
    margin-left: 35px;
    @include font-no-weight (40px, 1.2);
  }

  @media (min-width: $desktop-width) {
    padding-top: 210px;
    margin-left: 32px;

    @include font-no-weight (50px, 1.36);
  }

  &--additional {
    padding-top: 100px;
    line-height: 1.4;

    @media (min-width: $tablet-width) {
      margin-left: auto;
      padding-top: 174px;
      @include font-no-weight (50px, 1.36);
      width: 360px;

    @media (min-width: $desktop-width) {
      padding-top: 169px;
    }
  }

    @media (min-width: $desktop-width) {
      width: 350px;
    }
  }

  &--form {
    padding-top: 100px;
    line-height: 1.4;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      padding-top: 175px;
      width: $tablet-wrapper;
      @include font-no-weight (50px, 1.36);
    }

    @media (min-width: $desktop-width) {
      width: $desktop-wrapper;
      padding-top: 170px;
    }
  }
}

.background__download {
  position: relative;
  @include flexible (flex, column, center);
  align-items: center;
  background-color: $download-color;
  margin-top: -1px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    margin-top: 0;
    position: relative;
    background-color: transparent;
    z-index: 2;
  }
}

.background__download-btn {
  width: 280px;
  margin-top: 30px;
  margin-bottom: 0px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
    margin-bottom: 5px;
  }
}

.background__list {
  position: relative;
}

.background__link {
  color: $main-color;
}

.background__link {
  max-width: $mobile-wrapper;
  position: absolute;
  display: block;
  text-indent: -1000px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-left: 148px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 33px;
  }
  &--app-store {
    @include icon-size (47px, 56px, 32px, -102px);
    background-size: 47px 56px;
    content: " ";
    background: url("../img/logo-apple.svg") no-repeat center;
  }

  &--google-play {
    @include icon-size (43px, 47px, 38px, -20px);
    background-size: 43px 47px;
    content: " ";
    background: url("../img/logo-android.svg") no-repeat center;
  }

  &--instagram {
    @include icon-size (44px, 41px, 44px, 57px);
    background-size: 44px 41px;
    content: " ";
    background: url("../img/logo-microsoft.svg") no-repeat center;
  }

}

.background__decsription {
  margin-top: 111px;
  margin-bottom: 32px;
  font-weight: 300;
  color: $additional-color;
  width: 250px;

  @media (min-width: $tablet-width) {
    margin-top: 135px;
    margin-bottom: 0px;
    @include font-no-weight (18px, 1.33)
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 174px;
  }
}
