.body {
  background-color: $main-color;
  width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.71; /*24px*/
  font-weight: normal;
  color: $header-color;
}
