.contacts {
  text-align: center;
}

.contacts__title {
  width: 225px;
  margin: 41px auto 36px auto;
  
  @include font (300, 24px, 1.2);

  @media (min-width: $tablet-width) {
    margin: 43px auto 36px auto;
    width: 370px;

    @include font-no-weight (40px, 1.35);
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
    margin-bottom: 41px;
    width: 465px;
    font-size: 50px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 636px;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: -3px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
  }
}

.contacts__link {
  width: 245px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 50%;

    &:last-child {
      margin-top: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;

    &:last-child {
      margin: 0 75px;
    }

    &--order {
      order: 2;
    }
  }
}

.contacts__text {
  margin: 0;

  @include font (bold, 18px, 1.38);
  color: $header-color;

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }

  &--inform {
    font-weight: 300;
    font-size: 24px;
    color: $red-color;
    margin-bottom: 18px;

    &:hover {
      color: $black-color;
      text-decoration: underline;
    }

    &:active {
      color: rgba ($header-color, 0.3);
    }

    @media (min-width: $tablet-width) {
      width: 245px;
      margin: 0 auto;
    }
  }
}

.contacts__map-wrapper {
  margin-top: 20px;
  position: relative;
  height: 200px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    height: 372px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
    height: 502px;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 225px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center -220px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 420px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center -349px;
  }

  @media (min-width: $tablet-width) and (min-resolution: 144dpi), (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-tablet@2x.jpg");
    background-size: 700px auto;
  }

  @media (min-width: $desktop-width) {
    min-height: 561px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: center -277px;
  }

  @media (min-width: $desktop-width) and (min-resolution: 144dpi), (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-desktop@2x.jpg");
    background-size: 1200px auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 33px;
    z-index: 1;

    @media (min-width: $tablet-width) {
      height: 68px;
      background-size: 100% 68px;
    }

    @media (min-width: $desktop-width) {
      height: 102px;
      background-size: 100% 125px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}
