.contacts {
  text-align: center;
}

.contacts__title {
  width: 225px;
  margin: 37px auto 36px auto;
  @include font (300, 24px, 1.2);

  @media (min-width: $tablet-width) {
    margin: 43px auto 36px auto;
    width: 370px;
    @include font-no-weight (40px, 1.35);
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
    margin-bottom: 41px;
    width: 465px;
    font-size: 50px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 636px;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    justify-content: center;
    align-items: start;
  }
}

.contacts__link {
  width: 245px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 50%;

    &:last-child {
      margin-top: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;

    &:last-child {
      margin: 0 75px;
    }

    &--order {
      order: 2;
    }
  }
}

.contacts__text {
  margin: 0;
  @include font (bold, 18px, 1.38);
  color: $header-color;

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }

  &--inform {
    font-weight: 300;
    font-size: 24px;
    color: $red-color;
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      width: 245px;
      margin: 0 auto;
    }
  }
}

.contacts__map {
  margin-top: 20px;
}