.contacts {
  text-align: center;
}

.contacts__title {
  width: 225px;
  margin: 41px auto 36px auto;

  @include font (300, 24px, 1.2);

  @media (min-width: $tablet-width) {
    margin: 43px auto 36px auto;
    width: 370px;

    @include font-no-weight (40px, 1.35);
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
    margin-bottom: 41px;
    width: 465px;
    font-size: 50px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 636px;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: -3px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 2px;
  }
}

.contacts__link {
  width: 245px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 50%;

    &:last-child {
      margin-top: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;

    &:last-child {
      margin: 0 75px;
    }

    &--order {
      order: 2;
    }
  }
}

.contacts__text {
  margin: 0;

  @include font (bold, 18px, 1.38);
  color: $header-color;

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }

  &--inform {
    font-weight: 300;
    font-size: 24px;
    color: $red-color;
    margin-bottom: 18px;

    &:hover {
      color: $header-color;
      text-decoration: underline;
    }

    &:active {
      opacity: 0.3;
      text-decoration: none;
    }

    @media (min-width: $tablet-width) {
      width: 245px;
      margin: 0 auto;
    }
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  
  @media (max-width: $mobile-width) {
    height: 202px;
    background: $additional-color url("../img/bg-map-mobile@1x.png") no-repeat center/cover;
  }
  
  @media (min-width: $tablet-width) {
    height: 364px;
    margin-top: 31px;
    background: $additional-color url("../img/bg-map-tablet@1x.jpg") no-repeat center/cover;
  }
  
  @media (min-width: $desktop-width) {
    height: 518px;
    margin-top: 15px;
    background: $additional-color url("../img/bg-map-desktop@1x.jpg") no-repeat center/cover;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: "";
    position: absolute;
    top: 56%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background-image: url(../img/icon-map-marker.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}
  
.contacts__map--item {
  vertical-align: bottom;
  height: 100%;
  
  @media (max-width: $mobile-width) {
    height: 202px;
  }
  
  @media (min-width: $tablet-width) {
    min-height: 369px;
  }
  
  @media (min-width: $desktop-width) {
    height: 505px;
  }
}
