.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  font-weight: normal;
  line-height: 1.28;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 1;
  }
}
