.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  font-weight: normal;
  line-height: 1.28;

  @media (min-width: $desktop-width) {
    @include font-no-weight (18px, 1);
  }
}
