.download {
  @include flexible (flex, column, center);
  align-items: center;
  background-color: $download-color;
}

.download__button {
  @include font (bold, 18px, 1);
  color: $additional-color;
  margin: 0 auto;
}

.download__decsription {
  font-weight: 300;
  color: $additional-color;
  width: 250px;
}
