.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $download-color;
  text-align: center;
}

.download__button {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  color: $additional-color;
  margin: 0 auto;
}

.download__decsription {
  font-weight: 300;
  color: $additional-color;
  width: 250px;
}
