.effect {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include flexible (flex, column, left);
    width: $tablet-wrapper;
    align-items: flex-end;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
    margin: 0 auto;
  }
}

.effect__title {
  @media (min-width: $tablet-width) {
    @include font (bold, 30px, 1.2);
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 535px;
    @include font-no-weight (30px, 1);
  }
}

.effect__desc {
  @media (min-width: $tablet-width) {
    width: 320px;
    line-height: 1.71;
  }

  @media (min-width: $desktop-width) {
    width: 535px;
    @include font-no-weight (18px, 1.67);
  }

  &--more {
    color: $red-color;
    text-decoration-line: underline;
  }
}
