.footer {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 197px;
    margin: 0 auto;
    width: $tablet-wrapper;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper
  }
}