.footer {
  @include flexible (flex, column, center);
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    margin: 0 auto;
    width: $tablet-wrapper;
  }

  @media (min-width: $desktop-width) {
    min-height: 197px;
    width: $desktop-wrapper;
  }
}

.footer__logo {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-left: -4px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: -12px;
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 188px;
  margin: 7px auto 0 auto;

  @media (min-width: $tablet-width) {
    margin-top: -27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -38px;
    padding-left: 7px;
  }
}

.footer__social-link {
  position: relative;
  width: 51px;
  height: 51px;
  margin-top: 33px;
  border: 3px solid rgba($header-color, 0.1);
  border-radius: 50%;

  &:hover:not(:active) {
    border-color: $header-color;
  }
}

.footer__social-link:active .footer__social-icon {
  opacity: 0.3;
}

.footer__social-icon {
  position: absolute;
  fill: $red-color;

  &--twitter {
    @include icon-size (18px, 14px, 16px, 15px);
  }

  &--facebook {
    @include icon-size (9px, 18px, 13px, 19px);
  }

  &--youtube {
    @include icon-size (15px, 13px, 16px, 17px);
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    margin-left: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.footer__copyright-text {
  @media (min-width: $desktop-width) {
    margin-top: 12px;
    
    @include font-no-weight (18px, 18px);
  }
}

.footer__copyright-link {
  margin-left: 14px;
  margin-top: 7px;

  @media (min-width: $tablet-width) {
    margin-top: 7px;
  }
}

.footer__academy {
  fill: $red-color;

  &:hover {
    fill: $header-color;
  }

  &:active {
    opacity: 0.3;
  }
}
