.header {
  margin-bottom: -70px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: -110px;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba($black-color, 0.3);
    min-height: 110px;
    margin-bottom: -110px;
    width: 100%;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column-reverse;


  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
  }
}
