.header {
  background-color: $header-color;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    flex-direction: row;
    justify-content: space-around;
  }
}
