.logotype-header {
  display: inline-block;
  min-height: 68px;
  box-shadow: 0 1px 0 $black-color;

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    height: 62px;
    box-shadow: none;
  }
}

.logotype-header__wrapper {
  position: relative;
  width: $mobile-width-only;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.logotype-header__svg {
  margin: 6px 0 0 -52px;
  fill: $main-color;
  color: $red-color;

  @media (min-width: $tablet-width) {
    margin: 26px 0 0 19px;
  }

  @media (min-width: $desktop-width) {
    margin: 26px 0;
  }
}

.logotype-header__glasses {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logotype-header__glasses-crop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logotype-header__stars,
.logotype-header__star {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    fill: currentColor;
  }
}

.logotype-header__svg:hover {
  fill: $red-color;
  color: $main-color;
}

.logotype-header__svg:active {
  fill: $main-color;
  color: $red-color;
  opacity: 0.3;
}
