.logotype-header {
  display: inline-block;
  min-height: 68px;
  box-shadow: 0 1px 0 $black-color;

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    height: 62px;
    box-shadow: none;
  }
}

.nav--closed + .logotype-header {
  background-color: rgba($black-color, 0.3);
  box-shadow: none;
}

.nav--opened + .logotype-header {
  background-color: $header-color;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.logotype-header__svg {
  margin: 6px 0 0 -52px;
  fill: $main-color;
  color: $red-color;

  @media (min-width: $tablet-width) {
    margin: 26px 0 0 19px;
  }

  @media (min-width: $desktop-width) {
    margin: 26px 0;
  }
}

.logotype-header__glasses {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logotype-header__glasses-crop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logotype-header__stars,
.logotype-header__star {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    fill: currentColor;
  }
}

.logotype-header[href]:hover .logotype-header__svg {
  fill: $red-color;
  color: $main-color;
}

.logotype-header[href]:active .logotype-header__svg {
  fill: $main-color;
  color: $red-color;
  opacity: 0.3;
}
