.nav__list {
  position: relative;

  @include flexible (flex, column, center);

  @media (min-width: $desktop-width) {
    width: 620px;
    margin-left: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav--closed {
  position: relative;
  width: $mobile-width-only;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.nav__wrapper {
  position: relative;
  width: $mobile-width-only;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    margin-top: 28px;
  }
}

.nav__toggle {
  position: absolute;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: $header-color;
  cursor: pointer;
  border: none;
}

.nav--closed .nav__toggle {
  top: -57px;
  right: 0px;
  background-color: transparent;
  
  @media (min-width: $tablet-width) {
    top: -79px;
    right: -3px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav--opened .nav__toggle {
  margin: 0 auto;
  top: -57px;
  right: 3px;


  @media (min-width: $tablet-width) {
    top: -80px;
    right: 3px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: $main-color;
  box-shadow: 0 8px 0 0 $main-color, 0 16px 0 0 $main-color;
}

.nav--closed .nav__toggle:hover::before {
  background-color: $red-color;
  box-shadow: 0 8px 0 0 $red-color, 0 16px 0 0 $red-color;
}

.nav--closed .nav__toggle:active::before {
  background-color: rgba($red-color, 0.3);
  box-shadow: 0 8px 0 0 rgba($red-color, 0.3), 0 16px 0 0 rgba($red-color, 0.3);
}

.nav--closed .nav__list {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--opened {
  background-color: $header-color;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.nav--opened .nav__toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;

    @include icon-size (32px, 2px, 23px, 24px);
    background-color: $main-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $red-color;
  }

  &:active::before,
  &:active::after {
    background-color: rgba($red-color, 0.3);
  }
}

.nav__item {
  width: auto;
  padding-top: 16px;
  min-height: 64px;
  box-shadow: 0 1px 0 $black-color, inset 0 1px 0 rgba($red-color, 0.15);
  color: $main-color;
  text-transform: uppercase;

  @include font (bold, 18px, 1.78);

  &:hover {
    color: $red-color;
  }

  &:active {
    color: rgba($red-color, 0.3);
  }

  @media (min-width: $desktop-width) {
    text-transform: none;
    box-shadow: none;
    font-weight: normal;
    line-height: 1;

    &:hover {
      color: $red-color;
    }

    &:active {
      color: rgba($main-color, 0.3);
    }
  }
}

.nav__item--active {
  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 18px;
      left: 0;
      height: 2px;
      background: $main-color;
    }
  }
}
