.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;

  @include font (normal, 14px, 1.71);
}

.page__body {
  min-height: 100%;
  background-color: $main-color;
  color: $header-color;
  margin: 0;
}
