.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: $tablet-wrapper;
    margin: 0 auto;
  }
}

.photo__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 55px;
  }
}

.photo__title {
  width: 250px;
  color: $header-color;
  line-height: 2.14;

  @media (min-width: $tablet-width) {
    width: 450px;
    font-size: 18px;
    line-height: 1.67;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}

.photo__image {
  text-align: center;
}

.photo__author {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 280px;
  margin: 0 auto;
  background-color: $additional-color;

  @media (min-width: $tablet-width) {
    width: 300px;
    min-height: 155px;
    justify-content: space-between;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      width: 620px;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
    }
  }
}

.photo__text {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &--title {
    font-weight: bold;
  }

  &--time {
    font-weight: 300;
    font-size: 12px;
    line-height: 2;
  }
}

.photo__like {
  font-size: 12px;
  line-height: 2;
  color: $red-color;
  text-transform: uppercase;
}
