.photo {
  @include flexible (flex, column, center);
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: $tablet-wrapper;
    margin: 0 auto;
  }
}

.photo__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 55px;
  }
}

.photo__title {
  width: 250px;
  color: $header-color;
  line-height: 2.14;

  @media (min-width: $tablet-width) {
    @include font-no-weight (18px, 1.67);
    width: 450px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}

.photo__image {
  text-align: center;
}

.photo__author {
  @include flexible (flex, column, left);
  width: 280px;
  margin: 0 auto;
  background-color: $additional-color;

  @media (min-width: $tablet-width) {
    width: 300px;
    min-height: 155px;
    justify-content: space-between;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      width: 620px;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
    }
  }
}

.photo__text {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &--title {
    font-weight: bold;
  }

  &--time {
    @include font (300, 12px, 2);
  }
}

.photo__like {
  @include font-no-weight (12px, 2);
  color: $red-color;
  text-transform: uppercase;
}
