.photo {
  position: relative;
  z-index: 2;
  margin-top: -220px;
  padding-top: 18px;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    margin-top: -110px;
    padding-top: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -458px;
  }
}

.photo__wrapper {
  @include flexible (flex, column, center);
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 55px;
  }
}

.photo__item {
  &--panorama {
    margin-top: 36px;
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      margin-top: 59px;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 70px;
      margin-bottom: 48px;
    }
  }
}

.photo__panorama {
  position: relative;
}

.photo__image {
  display: block;

  &--panorama {
    @media (min-width: $tablet-width) {
      width: 100%;
      min-height: 509px;
    }
  }
}

.photo__panorama-rubric {
  position: absolute;
  top: 0;
  left: 50%;
  min-width: 140px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $main-color;
  background-color: $red-color;
  text-transform: uppercase;
  padding: 6px 10px;

  @media (min-width: $tablet-width) {
    transform: translateX(170px);
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    transform: translateX(330px);
    top: 54px;
  }
}

.photo__title {
  width: 250px;
  color: $header-color;
  line-height: 2.18;

  @media (min-width: $tablet-width) {
    @include font-no-weight(18px, 1.67);
    width: 450px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}

.photo__author {
  width: 280px;
  margin: -3px auto 0;
  background-color: $additional-color;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      width: $tablet-wrapper;
    }

    @media (min-width: $desktop-width) {
      width: $desktop-wrapper;
    }
  }
}

.photo__author-wrapper {
  @include flexible(flex, column, left);
  margin-left: 17px;

  @media (min-width: $tablet-width) {
    position: relative;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      padding-bottom: 11px;
    }
  }

  &--inner {
    padding-bottom: 5px;
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      justify-content: space-between;
      width: 270px;
      padding: 26px 0 22px 0;
      min-height: 158px;
      margin-bottom: 0;
    }
  }
}

.photo__text {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin-left: 12px;
  }

  &--title {
    margin-top: 22px;
    font-weight: bold;
    margin-bottom: -15px;

    @media (min-width: $tablet-width) {
      margin-top: 26px;
    }
  }

  &--title-inner {
    @media (min-width: $tablet-width) {
      margin-top: 0;
      margin-bottom: -1px;
    }
  }

  &--time {
    @include font(300, 12px, 2);
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-left: 0;
    }
  }

  &--comment {
    margin-bottom: 15px;
    line-height: 1.75;
  }

  &--comment-inner {
    @media (min-width: $tablet-width) {
      margin-top: 0;
      margin-bottom: 0;
      min-height: 65px;
    }
  }
}

.photo__action {
  display: flex;
  align-items: center;
  margin-top: -5px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 12px;
  }

  &--panorama {
    padding-bottom: 19px;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 32px;
      right: 29px;
    }
  }

  &--inner {
    @media (min-width: $tablet-width) {
      width: 240px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.photo__stats {
  margin-left: 18px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $red-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    order: -1;
    margin-right: auto;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      margin-right: 17px;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.photo__like-btn {
  width: 13px;
  height: 12px;
  border: none;
  padding: 0;
  text-indent: -1000px;
  overflow: hidden;
  background: transparent url("../img/icon-heart.svg") no-repeat center;
  background-size: 13px 12px;
  outline: none;
  cursor: pointer;
}

.photo__br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
