.post__wrapper {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
    margin: 0 auto;
  }
}

.post__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-wrapper;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
  }
}

.post__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.post__text {
  text-align: center;
  @include font (normal, 14px, 2.14);
  text-transform: none;

  @media (min-width: $tablet-width) {
    width: 422px;
    @include font-no-weight (18px, 1.67);
    margin: 0 auto;
  }
}

.post__changes {
  display: flex;
  flex-direction: column;
}
