.reviews {
  position: relative;
  z-index: 3;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    z-index: 1;
  }

  &--wrapper {
    text-align: center;
    margin: 0 auto;
    width: $mobile-wrapper;

    @media (min-width: $tablet-width) {
      width: $tablet-wrapper;
    }

    @media (min-width: $desktop-width) {
      width: 690px;
    }
  }
}

.reviews__item {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 122px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 187px;

    &::before {
      content: " ";
      position: absolute;
      @include background-pseudo (url("../img/icon-quotes.svg"), cover, 79px, 64px);
      top: -113px;
      right: 46vw;
    }
  }
}

.reviews__author {
  display: block;
  @include font (bold, 18px, 1.67);
  font-style: normal;
  color: $black-color;

  &--button {
    @media (max-width: $mobile-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      margin-top: 35px;
      @include font-no-weight (20px, 1.5);
    }

    @media (min-width: $desktop-width) {
      @include font-no-weight (24px, 1.25);
    }
  }

  &--top {
    padding-top: 39px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.reviews__text {
  margin-top: 14px;
  margin-bottom: 25px;
  line-height: 2.15;

  @media (min-width: $tablet-width) {
    @include font-no-weight (18px, 1.67);
  }
}

.reviews__desc {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    @include font-no-weight (18px, 1.67);
  }
}

.reviews__pagination {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}