.reviews {
  text-align: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__author {
  font-size: 18px;
  line-height: 1.67;
  font-style: normal;
  font-weight: bold;
  color: $black-color;

  &--button {

    @media (max-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 1.5;
    }

    @media (min-width: $desktop-width) {
      font-size: 24px;
      line-height: 1.25;
    }
  }

  &--top {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.reviews__text {
  line-height: 2.14;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.reviews__desc {

  @media (max-width: $tablet-width) {
    display: none;
  }
}
