.reviews {
  position: relative;
  z-index: 3;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    z-index: 1;
    margin-top: -22px;
  }
}

.reviews__wrapper {
  text-align: center;
  margin: 0 auto;
  width: $mobile-wrapper;

  @media (min-width: $tablet-width) {
    width: $tablet-wrapper;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
  }
}

.reviews__item {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 191px;
  }
}

.reviews__author {
  display: block;

  @include font (bold, 18px, 1.67);
  font-style: normal;
  color: $black-color;

  &--button {
    @media (max-width: $mobile-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      margin-top: -10px;

      @include font-no-weight (20px, 1.5);
    }

    @media (min-width: $desktop-width) {
      @include font-no-weight (24px, 1.25);
      margin-top: 12px;
    }
  }

  &--top {
    margin-top: 40px;
    margin-bottom: 0px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.reviews__desc {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0px;
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__text-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.reviews__btn {
  border: none;
}

.reviews__arrow {
  display: none;
  color: $header-color;
  opacity: .3;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .1;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.reviews__text {
  margin-top: -7px;
  margin-bottom: 0px;
  line-height: 2.15;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-bottom: 25px;
    @include font-no-weight (18px, 1.67);
  }

  @media (min-width: $desktop-width) {
    width: 690px;
  }
}

.reviews__pagination {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
