.reviews {
  text-align: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__author {
  @include font (bold, 18px, 1.67);
  font-style: normal;
  color: $black-color;

  &--button {
    @media (max-width: $mobile-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      @include font-no-weight (20px, 1.5);
    }

    @media (min-width: $desktop-width) {
      @include font-no-weight (24px, 1.25);
    }
  }

  &--top {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.reviews__text {
  line-height: 2.14;

  @media (min-width: $tablet-width) {
    @include font-no-weight (18px, 1.67);
  }
}

.reviews__desc {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
