.services__wrapper {
  position: relative;
  background-color: $additional-color;
  padding-top: 90px;
  padding-bottom: 42px;
  max-width: 100%;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 88px;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 173px;
    padding-bottom: 96px;
  }
}

.services__inner {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: $tablet-wrapper;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
  }
}

.services__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  width: 260%;

  @media (min-width: 370px) {
    width: 283%;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.services__option-header {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.services__option-none {
  display: none;
}


.services__header + .services__header {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.services__header {
  position: relative;
  background-color: $header-color;
  color: $main-color;
  text-transform: uppercase;
  padding: 29px;
  padding-top: 17px;
  background-clip: padding-box;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-bottom: 11px;
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    padding: 20px;
    padding-top: 17px;
  }

  &:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    border-right: none;
  }

  &--flag::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 74px;
    height: 74px;
    background: url("../img/bg-hit.svg") no-repeat top left;
    background-size: 74px 74px;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      width: 61px;
      height: 61px;
      background: url("../img/bg-hit-tablet.svg") no-repeat top left;
      background-size: 61px 61px;
    }

    @media (min-width: $tablet-width) {
      top: 0;
      left: 0;
    }
  }
}

.services__flag {
  position: absolute;
  top: 6px;
  left: 1px;
  width: 78px;
  height: 73px;
  transform: rotate(-45deg);
  line-height: 2.14;

  @media (min-width: $tablet-width) {
    top: 1px;
    left: 2px;
    width: 61px;
    height: 61px;
  }

  @media (min-width: $desktop-width) {
    top: 6px;
    left: 3px;
    width: 78px;
    height: 73px;
  }
}

.services__item {
  position: relative;
  border-top: 0;
  padding: 17px 0 18px 20px;
  background-color: $main-color;
  border: 2px solid $additional-color;
  border-top-width: 0;
  background-clip: padding-box;

  @media (min-width: $tablet-width) {
    padding: 7px 16px 8px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 22px 13px;
  }

  &--feature-title {
    border-top-width: 2px;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.services__feature {
  @media (min-width: $desktop-width) {
    font-size: 18px;
  }

  &--name {
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      @include visually-hidden;
    }
  }
}

.services__name {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-top: -4px;

  @media (min-width: $tablet-width) {
    margin-top: 3px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-top: -1px;
  }
}

.services__price {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin-top: -2px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.services__feature-status {
  position: absolute;
  display: block;
  width: 31px;
  height: 30px;
  top: 15px;
  right: 17px;
  text-indent: 100px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    position: relative;
    top: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &--on {
    background: url("../../img/icon-yes.svg") no-repeat center;
    background-size: 31px 21px;
  }

  &--off {
    background: url("../../img/icon-no.svg") no-repeat center;
    background-size: 27px 27px;
  }
}

.services__pagination {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
