@charset "UTF-8";
/*Color*/
/*так же цвет используется с шрифтом (более светлый)*/
/*Viewports*/
a {
  text-decoration: none; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.advantages {
  display: flex;
  flex-direction: column;
  text-align: center; }

.advantages__text {
  min-width: 280px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2; }
  @media (min-width: 660px) {
    .advantages__text {
      width: 590px;
      font-size: 40px;
      line-height: 1.35; } }
  @media (min-width: 1200px) {
    .advantages__text {
      width: 780px;
      font-size: 50px; } }
  @media (min-width: 660px) {
    .advantages__text--desc {
      width: 350px; } }
  @media (min-width: 1200px) {
    .advantages__text--desc {
      width: 450px; } }

.advantages__wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 660px) {
    .advantages__wrapper {
      align-items: flex-end;
      text-align: left; } }
  @media (min-width: 1200px) {
    .advantages__wrapper {
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline; } }

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.33; }
  @media (min-width: 1200px) {
    .advantages__title {
      font-size: 30px;
      line-height: 1; } }

.advantages__desc {
  width: 240px;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .advantages__desc {
      font-size: 18px;
      line-height: 1.67; } }

.background--additional {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  width: 320px;
  height: 170px; }
  @media (min-width: 660px) {
    .background--additional {
      background-image: url("../img/bg-back-tablet@1x.jpg");
      width: 660px;
      height: 440px; } }
  @media (min-width: 1200px) {
    .background--additional {
      background-image: url("../img/bg-back-desktop@1x.jpg");
      width: 1200px;
      height: 440px; } }

@media (min-width: 660px) {
  .background--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    width: 660px;
    min-height: 729px; } }

@media (min-width: 1200px) {
  .background--wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    width: 1200px;
    height: 853px; } }

.background__main {
  position: relative; }
  @media (max-width: 660px) {
    .background__main {
      position: relative;
      background-image: url("../img/bg-back-mobile@1x.jpg");
      width: 320px;
      height: 462px; }
      .background__main::after {
        position: absolute;
        top: 175px;
        right: 0px;
        content: " ";
        background-image: url("../img/iphone-hand-mobile@1x.png");
        width: 320px;
        height: 286px;
        background-size: cover; } }
  @media (min-width: 660px) {
    .background__main {
      padding-left: 90px; } }
  @media (min-width: 1200px) {
    .background__main {
      padding-left: 180px; } }

.background__title {
  width: 230px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  color: #f2f2f2; }
  @media (min-width: 660px) {
    .background__title {
      font-size: 40px;
      line-height: 1.2; } }
  @media (min-width: 1200px) {
    .background__title {
      font-size: 50px;
      line-height: 1.36; } }
  .background__title--additional {
    line-height: 1.37; }
    @media (min-width: 660px) {
      .background__title--additional {
        width: 290px; } }
    @media (min-width: 1200px) {
      .background__title--additional {
        width: 350px; } }
  @media (min-width: 660px) {
    .background__title--form {
      width: 380px; } }
  @media (min-width: 1200px) {
    .background__title--form {
      width: 800px; } }

.background__download {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2631;
  text-align: center; }
  @media (min-width: 660px) {
    .background__download {
      padding-left: 30px;
      position: relative;
      background-color: transparent;
      z-index: 2; } }
  @media (min-width: 1200px) {
    .background__download {
      padding-left: 115px; } }

.background__button {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  color: #f2f2f2;
  margin: 0 auto; }

.background__link {
  color: #ffffff; }

.background__decsription {
  font-weight: 300;
  color: #f2f2f2;
  width: 250px; }
  @media (min-width: 660px) {
    .background__decsription {
      font-size: 18px;
      line-height: 1.33;
      width: 300px; } }

.body {
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  /*24px*/
  font-weight: normal;
  color: #283645; }
  @media (min-width: 660px) {
    .body {
      width: 660px; } }
  @media (min-width: 1200px) {
    .body {
      width: 1200px; } }

.contacts {
  text-align: center; }

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2; }

.contacts__text {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.38;
  color: #283645; }
  .contacts__text--inform {
    font-size: 24px;
    color: #d22856; }

.copyright {
  display: flex;
  justify-content: center; }

.copyright__text {
  font-weight: normal;
  line-height: 1.28; }
  @media (min-width: 1200px) {
    .copyright__text {
      font-size: 18px;
      line-height: 1; } }

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2631;
  text-align: center; }

.download__button {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  color: #f2f2f2;
  margin: 0 auto; }

.download__decsription {
  font-weight: 300;
  color: #f2f2f2;
  width: 250px; }

.footer {
  display: flex;
  flex-direction: column;
  text-align: center; }
  @media (min-width: 660px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 197px; } }

.form__title {
  text-align: center;
  line-height: 2.14; }

.form__contact {
  display: flex;
  flex-direction: column; }

.form__subtitle {
  line-height: 2.14;
  color: #d22856;
  text-transform: uppercase; }
  .form__subtitle--desc {
    text-align: center; }

.form__text {
  font-size: 18px;
  line-height: 1.67; }

.form__fieldset {
  border: none;
  display: flex;
  margin: 0;
  padding: 0; }

.form__item {
  font-size: 18px;
  line-height: 1.67; }

.form__annotation {
  text-align: center;
  line-height: 2.14;
  text-transform: uppercase; }
  .form__annotation--red {
    color: #d22856; }

.header {
  background-color: #283645;
  display: flex;
  flex-direction: column; }
  @media (min-width: 1200px) {
    .header {
      padding-top: 30px;
      flex-direction: row;
      justify-content: space-around; } }

.logotype {
  height: 65px; }

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center; }
  @media (min-width: 1200px) {
    .nav__list {
      width: 800px;
      flex-direction: row;
      justify-content: space-between; } }

.nav__item {
  width: auto;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.78; }
  @media (min-width: 1200px) {
    .nav__item {
      text-transform: none;
      box-shadow: none;
      font-weight: normal;
      line-height: 1; } }

.nav__toggle {
  display: none; }

.post__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2; }

.post__text {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-transform: none; }

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  @media (min-width: 660px) {
    .photo {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline; } }

@media (min-width: 660px) {
  .photo__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; } }

@media (min-width: 1200px) {
  .photo__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 55px; } }

.photo__title {
  width: 250px;
  color: #283645;
  line-height: 2.14; }
  @media (min-width: 660px) {
    .photo__title {
      width: 450px;
      font-size: 18px;
      line-height: 1.67; } }
  @media (min-width: 1200px) {
    .photo__title {
      width: 600px; } }

.photo__image {
  text-align: center; }

.photo__author {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 280px;
  margin: 0 auto;
  background-color: #f2f2f2; }
  @media (min-width: 660px) {
    .photo__author {
      width: 300px;
      min-height: 155px;
      justify-content: space-between; } }
  @media (min-width: 660px) {
    .photo__author--panorama {
      width: 620px; } }
  @media (min-width: 1200px) {
    .photo__author--panorama {
      width: 940px; } }

.photo__text {
  font-size: 14px; }
  @media (min-width: 660px) {
    .photo__text {
      margin: 0; } }
  .photo__text--title {
    font-weight: bold; }
  .photo__text--time {
    font-weight: 300;
    font-size: 12px;
    line-height: 2; }

.photo__like {
  font-size: 12px;
  line-height: 2;
  color: #d22856;
  text-transform: uppercase; }

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center; }

.reviews__item {
  display: flex;
  flex-direction: column;
  text-align: center; }

.reviews__author {
  font-size: 18px;
  line-height: 1.67;
  font-style: normal;
  font-weight: bold;
  color: #000000; }

.reviews__text {
  line-height: 2.14; }

.services__catalog {
  display: flex;
  border: none;
  align-items: center;
  padding: 0;
  margin: 0; }

.services__title {
  background-color: #283645; }

.services__text {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff; }
  .services__text--price {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67; }

.services__item {
  line-height: 2.14;
  text-transform: uppercase; }

.services__toggles {
  text-align: center; }

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
