/*Color*/
$additional-color: #f2f2f2;
$header-color: #283645; /*так же цвет используется с шрифтом (более светлый)*/
$download-color: #1d2631;
$main-color: #ffffff;
$black-color: #000000;
$red-color: #d22856;
$buttom-color: #2aab6d;
$border-color: #e5e5e5;
$timer-color: #dedede;
$grey: #dddfe0;
$buttom-darker: #1c9b5e;
/*Wrapper*/
$mobile-wrapper: 280px;
$tablet-wrapper: 620px;
$desktop-wrapper: 940px;
/*Viewports*/
$mobile-width: 659px;
$tablet-width: 660px;
$tablet-width-only: 1199px;
$desktop-width: 1200px;
