$additional-color: #f2f2f2;
$header-color: #283645; /*так же цвет используется с шрифтом (более светлый)*/
$download-color: #1d2631;
$main-color: #ffffff;
$font-size: 14px;/*font-size: 12px = 0.85 * 14px;  18px = 1.28 * 14px;  24px = 1.71 * 14px; line-height: 18px = 1.28 * 14px;  24px = global; 29px = 2.07 * 14px;  30px = 2.14 * 14px;  32px = 2.29 * 14px;  33px = 2.36 * 14px;*/
